@import "../css/variables.scss";

form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  color: $black;
  padding: 20px 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  margin: 0 200px;

  @media only screen and (max-width: 600px) {
    max-width: 300px;
  }
  @media only screen and (max-width: 440px) {
    max-width: 200px;
  }

  h2 {
    text-align: center;
    margin: 0;
  }

  .formControl {
    display: flex;
    flex-direction: column;

    label {
      margin: 10px 0;
      font-weight: bold;
    }

    input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid $black;
    }

    input:focus {
      outline: none;
      border-color: $blue;
      background-color: $light-blue;
    }

    .error-text {
      color: $red;
      margin: 10px 0 0;
      text-align: start;
    }
  }

  .invalid {
    input {
      border: 1px solid $red;
      background-color: $light-gray;
    }

    input:focus {
      border-color: $orange;
      background-color: $light-yellow;
    }
  }

  .btn {
    margin: 20px 0 0;
  }
}
